@import url(https://fonts.googleapis.com/css?family=Hind); /*--- Body Font --*/
@import url(https://fonts.googleapis.com/css?family=Nobile); /*--- Heading Font --*/
/* reset style, takes all inherited margins that our browser wants to give the html document by default */
*{
    margin: 0;
    border: 0;
    padding: 0;
}
body, html {
    background-color: #FFF;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    /* the default position. Tells the browser the position is relative to the style we have here*/
    position: relative;
}
h1 {
    font-family: 'Nobile', sans-serif;
    text-align: center;
    font-size: 175%;
    color: #4A4444;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3% 0%;
}
h3 {
    font-family: 'Nobile', sans-serif;
    text-align: center;
    color: #4A4444;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p {
    padding: 2%;
    color: #4A4444;
    text-align: justify;
}
img {
    max-width: 100%;
    height: auto;
}
/*  id is referenced with #, classes with .   */
#banner-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
/*----Start Image Slider Style ---*/
.slider {
    width: 100%;
}
.slider1 img {
    min-width: 100%;
    margin: 0 auto;
}
/*  For styling the prev and next links for the slider*/
.slider .bx-wrapper .bx-controls-direction a {
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    height: 71px;
    width: 40px;
    z-index: -1; 
    transition: all 0.7s;
}
.slider .bx-wrapper:hover .bx-controls-direction a{
    z-index: 5; 
}
.slider .bx-wrapper .bx-prev {
    background: #000 url("img/left-arrow-white.png") no-repeat 8px 13px;
    left: 0px;
    opacity: 0.3;
}
.slider .bx-wrapper .bx-prev:hover {
    opacity: 0.6;
}
.slider .bx-wrapper .bx-next {
    background: #000 url("img/right-arrow-white.png") no-repeat 10px 12px;
    right: 0px;
    opacity: 0.3;
}
.slider .bx-wrapper .bx-next:hover {
    opacity: 0.6;
}
/*----End Image Slider Style ---*/
.one-whole{
    width: 90%;
    float: left;
    margin: 2% 0% 3% 4%;
    text-align: center;
}
.one-half {
    width: 44%;
    text-align: center;
    margin: 2% 0% 3% 4%;
    text-align: center;
}
.one-third {
    width: 28%;
    float: left;
    margin: 2% 0% 3% 4%;
    text-align: center;
}
.left-col {
    width: 60%;
    float: left;
    margin: 4% 0% 4% 4%;
}
.sidebar {
    width: 26%;
    float: right;
    margin: 4% 4%;
}
.sidebar img {
    opacity: 0.7;
}
.clearfix {
    clear: both;
}
/*-- Start parallax sections*/
.parallax-1 {
    background: url('../img/backlit-clouds-friends-853168.jpg') repeat fixed 100%;
    text-align: center;
}
.parallax-inner {
    padding-top: 90px;
    padding-bottom: 300px;
}
.parallax-2 {
    background: url('../img/backlit-bright-dawn-697243.jpg') repeat fixed 100%;
    text-align: center;
}
.parallax-3 {
    background: url('../img/action-backlit-beach-1046896.jpg') repeat fixed 100%;
    text-align: center;
}
.parallax-inner h3, .parallax-inner p {
    color: #F1F1F1
}

/*-- End parallax sections*/

footer {
    background: #262E37;
    opacity: 0.9;
    width: 100%;
    margin-top: 5%;
    padding: 1% 0;
    overflow: auto;
}
footer p{
    color: #FFF;
}

/*---Start Mediaqueries --*/
@media screen and (max-width: 768px) {
    .slider .bx-wrapper .bx-controls {
        dislpay: none;
    }

    .one-third {
        width: 100%;
        margin: 4% 0;
    }
    .one-whole {
        width: 100%;
        margin: 4% 0;
    }
    h1 {
        font-size: 125%;
    }
    .left-col {
        width: 100%;
        margin: 0 0 3% 0;
    }
    .sidebar {
        width: 100%;
        margin: 0;
    }
    h3 {
        padding-top: 3%;
    }
}

/*---End Mediaqueries --*/
