@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap'); /*--- Body Font --*/

/* reset style, takes all inherited margins that our browser wants to give the html document by default */
*{
    margin: 0;
    border: 0;
    padding: 0;
    
}
body, html {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* the default position. Tells the browser the position is relative to the style we have here*/
    position: relative;
}
.active {
    font-weight:bold;
}

img {
    max-width: 100%;
    height: auto;
}
/*  id is referenced with #, classes with .   */
#banner-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
#banner-wrapper h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 175%;
    color: #ffffff;
    letter-spacing: 3px;
    padding: 3% 0%;
}
.gormabok{
    max-width: 100%;
    height: auto;
    
}
#banner-wrapper h3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 100%;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3% 0%;
}
#banner-wrapper p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 75%;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3% 0%;
    width: 90%;
}
/*----Start Image Slider Style ---*/
.slider {
    width: 100%;
}
.slider1 img {
    min-width: 100%;
    margin: 0 auto;
}
.bullet-list {
    width: 90%;
    float: center;
    margin: 2% 0% 3% 4%;
    line-height: 200%;
}
.bullet-list, p.link{
    line-height: 20%;
}]
.bullet-list, h3 {
    margin-left:50px;
    margin: 2% 0% 3% 4%;
    text-align: left;
    line-height: 200%;
}
.bullet-list ,ul{
    margin-left:40px;
    margin: 2% 0% 3% 4%;
  }
.bullet-list, p{
    line-height: 100%;
}
/*  For styling the prev and next links for the slider*/
.slider .bx-wrapper .bx-controls-direction a {
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    height: 71px;
    width: 40px;
    z-index: -1; 
    transition: all 0.7s;
}
.slider .bx-wrapper:hover .bx-controls-direction a{
    z-index: 5; 
}
.slider .bx-wrapper .bx-prev {
    background: #000 url("img/left-arrow-white.png") no-repeat 8px 13px;
    left: 0px;
    opacity: 0.3;
}
.slider .bx-wrapper .bx-prev:hover {
    opacity: 0.6;
}
.slider .bx-wrapper .bx-next {
    background: #000 url("img/right-arrow-white.png") no-repeat 10px 12px;
    right: 0px;
    opacity: 0.3;
}
.slider .bx-wrapper .bx-next:hover {
    opacity: 0.6;
}
/*----End Image Slider Style ---*/
.one-whole{
    width: 90%;
    float: center;
    margin: 2% 0% 3% 4%;
    text-align: center;
    line-height: 200%;
    font-size: 14px;
}
.one-whole, .meginmal {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.2em;
    line-height: 1.6em;
}
.one-whole, h3{
   font-size: 30px;
}
.one-whole, h2{
    font-size: 30px;
    text-align: center;
 }
 .one-whole, h4{
    text-align: center;
 }
.one-whole, th{
    font-size: 20px;
 }
 .one-whole, p{
    font-size: 20px;
    font-weight: 3000;
 }
 #h4bold{
     font-weight:bold;
 }
 .parallax-1, parallax-inner, #banner-wrapper, h1{
     font-size: 40px;
 }
 .parallax-1, parallax-inner, #banner-wrapper, p{
    font-size: 40px;
    padding: 20px;
}
.one-whole-parallax{
    width: 90%;
    float: center;
    margin: 2% 0% 3% 4%;
    text-align: center;
    line-height: 200%;
}
.one-whole-parallax p{
    width: 90%;
    float: center;
    margin: 2% 0% 3% 4%;
    text-align: center;
}
.one-whole p{

}
.things_in_lists{
    width: 90%;
    float: center;
    margin: 2% 0% 3% 4%;
    text-align: center;
    line-height: 200%;
    padding-top:50px;

}
.things_in_lists, h3{
text-align: center;
margin: 10px;
}
.things_in_lists, h4{
    text-align: left;
    margin: 20px;
    font-weight:bold;
}
.things_in_lists, li{
    text-align: left;
    line-height: 1.6em;
}  
.things_in_lists, ul{
    text-align: center;
    line-height: 1.6em;
}    
.one-whole, h4{
    font-weight: 900;
}
.one-half {
    width: 44%;
    text-align: center;
    margin: 2% 0% 3% 4%;
    text-align: center;
}
.one-third {
    width: 28%;
    float: left;
    margin: 2% 0% 3% 4%;
    text-align: center;
}
.one-third , h4{
    width: 28%;
    float: left;
    margin: 2% 0% 3% 4%;
    text-align: center;
}
.one-third ,ul{
    font-size:16px;
}
.left-col {
    width: 60%;
    float: left;
    margin: 4% 0% 4% 4%;
}
.sidebar {
    width: 26%;
    float: right;
    margin: 4% 4%;
}
.sidebar img {
    opacity: 0.7;
}
.clearfix {
    clear: both;
}
/*-- Start parallax sections*/
.parallax-1 {
    background: url('../img/backlit-clouds-friends-853168.jpg') repeat fixed 100%;
    text-align: center;
    font-family: 'Nobile', sans-serif;
    text-align: center;
    font-size: 175%;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3% 0%;
}
.parallax-inner {
    padding-top: 90px;
    padding-bottom: 200px;
}
.parallax-2 {
    background: url('../img/backlit-bright-dawn-697243.jpg') repeat fixed 100%;
    text-align: center;
}
.parallax-3 {
    background: url('../img/action-backlit-beach-1046896.jpg') repeat fixed 100%;
    text-align: center;
}
.parallax-inner h3, .parallax-inner p {
    color: #F1F1F1
}
tr, table-header{
    font-size: 16px;
}

table{
border-collapse: collapse;
width: 80%;
}
th {
    height: 80px;
}
.list_of_things, p{
    font-size: 16px;
    line-height:100px;
}
/*-- End parallax sections*/

footer {
    background: #262E37;
    opacity: 0.9;
    width: 100%;
    margin-top: 5%;
    padding: 1% 0;
    overflow: auto;
}
footer p{
    color: #FFF;
    font-size: 20px;
}

/*---Start Mediaqueries --*/
@media screen and (max-width: 768px) {
    .slider .bx-wrapper .bx-controls {
        display: none;
    }

    .one-third {
        width: 100%;
        margin: 4% 0;
    }
    .one-whole {
        width: 100%;
        margin: 4% 0;
    }
    h1 {
        font-size: 125%;
    }
    .left-col {
        width: 100%;
        margin: 0 0 3% 0;
    }
    .sidebar {
        width: 100%;
        margin: 0;
    }
    h3 {
        padding-top: 3%;
    }
}

/*---End Mediaqueries --*/
